<h1>Listagem de usuários</h1>

<ul>
	{% for user in users %}
		{# <li>
		    <a href="https://www.google.com/maps/@{{user.lat}},{{user.lon}},20z" target="_blank">{{user.username}} - {{user.createdAt}}</a>
		</li> #}
		<li>
		    <p>{{user.status}} - {{user.to}}</p>
		</li>
	{% endfor %}
</ul>

<!--a href="/new">Cadastrar usuário</a-->